@charset "UTF-8";
        body {
           background-color: lightblue;
           font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
           font-size: 20px; 
        }

        h1 {
            color: darkblue;

         }

         h2{
            color: yellow;
            background-color: rgb(105, 102, 150);
         }

         p{
            text-align: justify;
         }